body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2{
    text-align: center;
}

#container{
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0;
    border: 5px solid #003049;
}

#container div{
    height: 200px;
    width: 200px;
}

main{
    margin: 0 auto;
    width: 80%;
    border: 5px solid black;
    height: 500px;
}
